# --- IDE & Système (Pour que les config de ton PC ne polluent pas) ---
.idea/
.vscode/
*.iml
.DS_Store

# --- BACKEND (Java / Maven) ---
target/
*.class
*.log

# --- FRONTEND (Node / Vue.js) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/